@import url("http://fonts.googleapis.com/css?family=Open+Sans:600,400,300,200,100");
.font-light {
  font-weight: 100;
}

@-webkit-keyframes feature-bounce {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  60% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes feature-bounce {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  60% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.group:after {
  content: "";
  display: table;
  clear: both;
}

.btn-primary, .btn-secondary, .btn-primary-inverse {
  -webkit-appearance: none;
  transition: opacity 0.125s, background-color 0.125s, color 0.125s;
  display: inline-block;
  position: relative;
  border-radius: 3px;
  padding: 1.3125rem 5rem;
  background-color: #1fbad6;
  font-size: 0.875rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  line-height: 1.25;
  cursor: pointer;
  color: #eaebef;
}
@media (max-width: 640px) {
  .btn-primary, .btn-secondary, .btn-primary-inverse {
    text-transform: uppercase;
    padding: 0.9375rem 1.5625rem;
  }
}
.btn-primary:active, .btn-secondary:active, .btn-primary-inverse:active {
  top: 2px;
}
.btn-primary:focus, .btn-secondary:focus, .btn-primary-inverse:focus {
  outline: 0;
}
.btn-primary:hover, .btn-secondary:hover, .btn-primary-inverse:hover {
  background-color: #eaebef;
  color: #181e23;
}
[disabled].btn-primary, [disabled].btn-secondary, [disabled].btn-primary-inverse {
  opacity: 0.45;
}

.btn-secondary {
  background-color: #181929;
}

.btn-primary-inverse:hover {
  background-color: #262626;
  color: #eaebef;
}

.btn-drop-shadow {
  box-shadow: 0.3125rem 1.25rem 3.125rem rgba(0, 0, 0, 0.5);
}

body {
  font-family: 'Open Sans',serif;
  color: #464646;
  font-size: 1rem;
}

.wrap-container {
  width: 100%;
}

.section-hero {
  height: 45.125rem;
  background: url(../images/backgrounds/bg-hero.jpg) 50% 50% no-repeat;
  background-size: cover;
  padding: 0 1.25rem;
}
@media (max-width: 640px) {
  .section-hero {
    font-size: 1.5625rem;
    height: 40.9375rem;
  }
}

.section-features {
  background: url(../images/backgrounds/bg-features.jpg) 50% 50% no-repeat;
  background-size: cover;
  color: #eaebef;
}

.section-testimonials {
  background: url(../images/backgrounds/bg-testimonials.jpg) 50% 50% no-repeat;
  background-size: cover;
  color: #eaebef;
}

.section-hero-wrap {
  position: relative;
  max-width: 75rem;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 auto;
  padding-top: 1.25rem;
}

.section-wrap {
  max-width: 85rem;
  text-align: center;
  padding: 6.25rem 1.25rem;
  margin: 0 auto;
}
@media (max-width: 640px) {
  .section-wrap {
    padding: 1.875rem 1.25rem;
  }
}

.section-header {
  font-size: 1.875rem;
  text-transform: uppercase;
  margin-bottom: 2.8125rem;
}
@media (max-width: 640px) {
  .section-header {
    font-size: 1.125rem;
    margin-bottom: 1.875rem;
  }
}

.section-subtitle {
  max-width: 48.625rem;
  margin: 0 auto;
  line-height: 1.6;
}
.section-subtitle.large-subtitle {
  max-width: 68.75rem;
  font-size: 1.375rem;
}
@media (max-width: 640px) {
  .section-subtitle {
    font-size: 0.9375rem;
  }
}

.section-bumper {
  text-align: center;
  margin-top: 0.9375rem;
  display: block;
  font-weight: 600;
}

.landing-header {
  position: absolute;
  top: 0;
  width: 100%;
}

.landing-hero-title {
  color: #eaebef;
  font-size: 2.25rem;
  letter-spacing: 2px;
}
@media (max-width: 640px) {
  .landing-hero-title {
    font-size: 1.5625rem;
  }
}

.landing-hero-subtitle {
  color: #eaebef;
  margin: 0.3125rem 0 4.375rem 0;
  font-size: 1.375rem;
  letter-spacing: 1px;
}
@media (max-width: 640px) {
  .landing-hero-subtitle {
    font-size: 0.9375rem;
    margin-top: 1.875rem;
  }
}

.landing-whatwedo {
  position: relative;
  max-width: 68.75rem;
  margin: 5.625rem auto 0;
}
@media (max-width: 640px) {
  .landing-whatwedo {
    min-height: 25rem;
    margin-top: 0;
    padding-top: 3.75rem;
  }
}

.landing-whatwedo-bullets {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 640px) {
  .landing-whatwedo-bullets {
    position: absolute;
    top: 2.5rem;
    width: 100%;
  }
}
.landing-whatwedo-bullets li {
  float: left;
  width: 25%;
}
@media (max-width: 640px) {
  .landing-whatwedo-bullets li {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    float: none;
    width: 80%;
    display: none;
  }
  .landing-whatwedo-bullets li.-active {
    display: block;
  }
}

@media (max-width: 640px) {
  .landing-whatwedo-card {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    height: 75%;
    border: 1px solid #ededed;
    box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
    border-radius: 0.1875rem;
  }
}

.landing-whatwedo-control {
  position: absolute;
  font-size: 1.25rem;
  font-weight: 600;
}
.landing-whatwedo-control.-next {
  right: 0;
  top: 2.5rem;
}
.landing-whatwedo-control.-previous {
  left: 0;
  top: 2.5rem;
}

.landing-whatwedo-item {
  text-align: center;
  margin: 0 1.125rem;
}
@media (max-width: 640px) {
  .landing-whatwedo-item {
    position: relative;
    font-size: 0.875rem;
    line-height: 1.2;
    border: 1px solid #ededed;
    box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
    border-radius: 0.1875rem;
    padding: 1.75rem 0.625rem;
    margin: 0;
    z-index: 100;
    background-color: white;
    display: block;
    margin: 0 auto;
    width: 76%;
  }
}
.landing-whatwedo-item h2 {
  text-transform: uppercase;
  font-size: 1.25rem;
}
@media (max-width: 640px) {
  .landing-whatwedo-item h2 {
    font-size: 1rem;
  }
}
.landing-whatwedo-item a {
  transition: color 0.125s;
  text-transform: uppercase;
  color: #1fbad6;
  text-decoration: none;
}
.landing-whatwedo-item a:hover {
  color: #181929;
}
.landing-whatwedo-item img {
  margin-bottom: 0.625rem;
}

.landing-features-nav-container {
  text-align: center;
}

.landing-features-nav {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.landing-features-nav li {
  transition: all 0.125s;
  float: left;
  border: 3px solid #eaebef;
  border-left: none;
}
.landing-features-nav li:first-child {
  border-left: 3px solid #eaebef;
  border-radius: 1.5625rem 0 0 1.5625rem;
}
.landing-features-nav li:last-child {
  border-radius: 0 1.5625rem 1.5625rem 0;
}
.landing-features-nav li:hover, .landing-features-nav li.-active {
  background-color: #eaebef;
  color: #181929;
}
.landing-features-nav li:hover a, .landing-features-nav li.-active a {
  color: #181929;
}
.landing-features-nav li a {
  letter-spacing: 0.0625rem;
  transition: all 0.125s;
  color: #eaebef;
  text-decoration: none;
  display: block;
  padding: 0.75rem 2.1875rem;
}

.landing-features-screenshot {
  position: relative;
  max-width: 52.25rem;
  max-height: 38.375rem;
  margin: 0 auto;
  height: 38.375rem;
}
.landing-features-screenshot img {
  position: absolute;
  transition: opacity 0.05s, top 0.150s;
  display: block;
  opacity: 0;
  top: 5rem;
}
.landing-features-screenshot img.-active {
  display: block;
  opacity: 1;
  top: 0;
}

.landing-features {
  margin: 0 auto 0;
}

.landing-features-bullets {
  transition: all 0.125s;
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  opacity: 0;
}
.landing-features-bullets.-active {
  display: block;
  opacity: 1;
}
.landing-features-bullets li {
  float: left;
  width: 33.3%;
}

.landing-features-item {
  text-align: center;
  margin: 0 1.125rem;
}
.landing-features-item h2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin-bottom: 2.5rem;
}

.landing-features-cta {
  text-align: center;
  margin-top: 4.6875rem;
}

.landing-integrate {
  text-align: center;
}

.landing-integrate-bullets {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.landing-integrate-bullets li {
  transition: all 0.125s;
  opacity: 0.7;
  float: left;
  height: 5.9375rem;
  background: url(../images/sprites/sprite-integrate.png) 0 0 no-repeat;
}
.landing-integrate-bullets li:hover {
  opacity: 1;
}
.landing-integrate-bullets li.landing-bullet-clareity {
  width: 13.1875rem;
}
.landing-integrate-bullets li.landing-bullet-rapattoni {
  width: 15.5625rem;
  background-position: -13.1875rem 0rem;
}
.landing-integrate-bullets li.landing-bullet-agentachieve {
  width: 17.6875rem;
  background-position: -28.75rem 0rem;
}
.landing-integrate-bullets li.landing-bullet-matterport {
  width: 15.75rem;
  background-position: -46.4375rem 0rem;
}
.landing-integrate-bullets li a {
  transition: all 0.125s;
  display: block;
  height: 5.9375rem;
  text-indent: -9999px;
}

.landing-testimonials {
  list-style: none;
  margin: 7.5rem 0 0 0;
  padding: 0;
}
.landing-testimonials li {
  cursor: pointer;
  transition: all 0.125s;
  background-color: #eaebef;
  float: left;
  width: 22%;
  margin: 0 1.5%;
  height: 17.75rem;
  opacity: 0.5;
}
.landing-testimonials li.-active, .landing-testimonials li:hover {
  opacity: 1;
  -webkit-animation-name: feature-bounce;
  animation-name: feature-bounce;
  -webkit-animation-duration: 0.375s;
  animation-duration: 0.375s;
}
.landing-testimonials li h3 {
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 0.3125rem 0 0 0;
}
.landing-testimonials li p {
  font-size: 0.875rem;
  margin: 0.3125rem 0;
  min-height: 1.875rem;
}
.landing-testimonials .landing-testimonial {
  position: relative;
  top: 50%;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #464646;
  padding: 0 0.9375rem;
}

.landing-testimonial-text {
  display: none;
  height: 3.125rem;
  font-size: 1.375rem;
  padding-top: 1.75rem;
}
.landing-testimonial-text.-active {
  display: block;
}
