// main buttons
%btn {
    -webkit-appearance: none;
    transition: opacity 0.125s, background-color 0.125s, color 0.125s;
    display: inline-block;
    position: relative;
    border-radius: 3px;
    padding: rem(21px) rem(80px);
    background-color: $color-teal;
    font-size: rem(14px);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    line-height: 1.25;
    cursor: pointer;
    color: $color-white;
    text-transform: uppercase;
    @media (max-width: $breakpoint-phablet) {
        padding: rem(15px) rem(25px);
    }
    &:active {
        top: 2px;
    }
    &:focus {
        outline: 0;
    }
    &:hover {
        background-color: $color-white;
        color: $color-blue-grey;
        text-decoration: none;
    }
    &[disabled] {
        opacity: 0.45;
    }
}

.btn-primary {
    @extend %btn;
}

.btn-secondary {
    @extend %btn;
    background-color: $color-deep-purple;
}

.btn-primary-inverse {
    @extend %btn;
    &:hover {
        background-color: $color-grey-dark;
        color: $color-white;
    }
}

.btn-pricing-feature {
    @extend %btn;
    background-color: $color-deep-purple;
    text-transform: none;
    padding: rem(18px) 0;
    min-width: rem(180px);
    &.-one {
        background-color: $color-pricing-card-one;
    }
    &.-two {
        background-color: $color-pricing-card-two;
    }
    &.-three {
        background-color: $color-pricing-card-three;
    }
    &.-four {
        background-color: $color-pricing-card-four;
    }
    &:hover {
        background-color: $color-white;
        color: $color-blue-grey;
    }
}

.btn-pricing-premium {
    @extend %btn;
    background-color: white;
    color: $color-teal;
    border: 1px solid $color-teal;
    text-transform: none;
    padding: rem(18px) 0;
    min-width: rem(180px);
    &:hover {
        background-color: $color-teal;
        color: white !important;
    }
}

.btn-drop-shadow {
    box-shadow: rem(5px) rem(20px) rem(50px) rgba(0, 0, 0, 0.5);
}

