// Functions

// Mixins

// =bp-gt($breakpoint) {
//         @media only screen and (max-width: rem($breakpoint + 1)) {
//             @content
//       }
// }

@keyframes feature-bounce {
    0% {
        transform: scale(0.9);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

// Just regular re-usable css
.group:after {
  content: "";
  display: table;
  clear: both;
}



