// main layout styles

body {
    font-family: 'Open Sans',serif;
    color: $color-grey;
    font-size: rem(16px);
    background-color: white;
}

.wrap-container {
    width: 100%;
}

.section-hero {
    height: rem(722px);
    background: url(../images/backgrounds/bg-hero.jpg) 50% 50% no-repeat;
    background-size: cover;
    padding: 0 rem(20px);
    // background-attachment: fixed;
    @media (max-width: $breakpoint-tablet) {
        // border: 1px solid blue;
    }
    @media (max-width: $breakpoint-phablet) {
        font-size: rem(25px);
        height: rem(655px);
    }
}

.section-features {
    background: url(../images/backgrounds/bg-features.jpg) 50% 50% no-repeat;
    background-size: cover;
    color: $color-white;
}

.section-testimonials {
    background: url(../images/backgrounds/bg-testimonials.jpg) 50% 50% no-repeat;
    background-size: cover;
    color: $color-white;
}

.section-hero-wrap {
    position: relative;
    max-width: rem(1200px);
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    padding-top: rem(20px);
}

.section-wrap {
    max-width: rem(1360px);
    text-align: center;
    padding: rem(100px) rem(20px);
    margin: 0 auto;
    @media (max-width: $breakpoint-phablet) {
        padding: rem(30px) rem(20px);
    }
}

.section-header {
    font-size: rem(30px);
    text-transform: uppercase;
    margin-bottom: rem(45px);
    @media (max-width: $breakpoint-phablet) {
        font-size: rem(18px);
        margin-bottom: rem(30px);
    }
    img {
        @media (max-width: $breakpoint-phablet) {
            width: rem(38px);
        }  
    }
}

.section-subtitle {
    max-width: rem(778px);
    margin: 0 auto;
    line-height: 1.6;
    &.large-subtitle {
        max-width: rem(1100px);
        font-size: rem(22px);
        @media (max-width: $breakpoint-phablet) {
            font-size: rem(16px);
        }
    }
    @media (max-width: $breakpoint-phablet) {
        font-size: rem(15px);
    }
}

.section-bumper {
    text-align: center;
    margin-top: rem(15px);
    display: block;
    font-weight: 600;
}

.landing-header {
    position: absolute;
    top: 0;
    width: 100%;
}

.landing-hero-title {
    color: $color-white;
    font-size: rem(36px);
    letter-spacing: 2px;
    @media (max-width: $breakpoint-phablet) {
        font-size: rem(25px);
    }
}

.landing-hero-subtitle {
    color: $color-white;
    margin: rem(5px) 0 rem(70px) 0;
    font-size: rem(22px);
    letter-spacing: 1px;
    @media (max-width: $breakpoint-phablet) {
        font-size: rem(15px);
        margin-top: rem(30px);
    }
}

// what we do section

.landing-whatwedo {
    position: relative;
    max-width: rem(1100px);
    margin: rem(90px) auto 0;
    @media (max-width: $breakpoint-phablet) {
        min-height: rem(400px);
        margin-top: 0;
        padding-top: rem(60px);
    }
}

.landing-whatwedo-bullets {
    list-style: none;
    margin: 0;
    padding: 0;
    @media (max-width: $breakpoint-phablet) {
        position: absolute;
        top: rem(40px);
        width: 100%;
    }
    li {
        float: left;
        width: 25%;
        @media (max-width: $breakpoint-phablet) {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            float: none;
            width: 80%;
            display: none;
            &.-active {
                display: block;
            }
        }
    }
}

.landing-whatwedo-card {
    @media (max-width: $breakpoint-phablet) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 75%;
        border: 1px solid $color-feature-border;
        box-shadow: rem(0px) rem(2px) rem(4px) rgba(0, 0, 0, 0.5);
        border-radius: rem(3px);
    }
}

.landing-whatwedo-control, .landing-testimonials-control {
    position: absolute;
    top: rem(160px);
    transition: color 0.125s;
    font-size: rem(20px);
    font-weight: 600;
    text-decoration: none;
    color: $color-teal;
    display: none !important;
    @media (max-width: $breakpoint-phablet) {
        display: block !important;
    }
    &:hover {
        color: $color-deep-purple;
    }
    &.-next {
        right: rem(-10px);
    }
    &.-previous {
        left: rem(-10px);
    }
}

.landing-testimonials-control {
    top: rem(130px);
    &.-next {
        right: rem(-33px);
    }
    &.-previous {
        left: rem(-33px);
    }
}

.landing-whatwedo-item {
    text-align: center;
    margin: 0 rem(18px);
    @media (max-width: $breakpoint-phablet) {
        position: relative;
        font-size: rem(14px);
        line-height: 1.2;
        border: 1px solid $color-feature-border;
        box-shadow: rem(0px) rem(2px) rem(4px) rgba(0, 0, 0, 0.5);
        border-radius: rem(3px);
        padding: rem(28px) rem(10px);
        margin: 0;
        z-index: 100;
        background-color: white;
        display: block;
        margin: 0 auto;
        width: 76%;
    }
    h2 {
        text-transform: uppercase;
        font-size: rem(20px);
        @media (max-width: $breakpoint-phablet) {
            font-size: rem(16px);
        }
    }
    a {
        transition: color 0.125s;
        text-transform: uppercase;
        color: $color-teal;
        text-decoration: none;
        &:hover {
            color: $color-deep-purple;
        }
    }
    img {
        margin-bottom: rem(10px);
    }
}

// features nav

.landing-features-nav-container {
    text-align: center;
}
.landing-features-nav {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    li {
        transition: all 0.125s;
        float: left;
        border: 3px solid $color-white;
        border-left: none;
        @media (max-width: $breakpoint-phablet) {
            border: 1px solid $color-white;
        }
        &:first-child {
            border-left: 3px solid $color-white;
            border-radius: rem(25px) 0 0 rem(25px);
            @media (max-width: $breakpoint-phablet) {
                border-left: 1px solid $color-white;
                border-radius: rem(10px) 0 0 rem(10px);
            }
        }
        &:last-child {
            border-radius: 0 rem(25px) rem(25px) 0;
            @media (max-width: $breakpoint-phablet) {
                border-radius: 0 rem(10px) rem(10px) 0;
            }
        }
        &:hover, &.-active {
            background-color: $color-white;
            color: $color-deep-purple;
            a {
                color: $color-deep-purple;
            }
        }
        a {
            letter-spacing: rem(1px);
            transition: all 0.125s;
            color: $color-white;
            text-decoration: none;
            display: block;
            padding: rem(12px) rem(35px);
            @media (max-width: $breakpoint-phablet) {
                font-size: rem(11px);
                padding: rem(5px) rem(6px);
            }
        }
    }
}

// features screenshot

.landing-features-screenshot {
    position: relative;
    max-width: rem(836px);
    max-height: rem(614px);
    margin: 0 auto;
    img {
        position: absolute;
        transition: opacity 0.05s, top 0.150s;
        display: block;
        opacity: 0;
        top: rem(80px);
        width: 100%;
        &.-active {
            display: block;
            opacity: 1;
            top: 0;
        }
    }
    .landing-features-shim {
        position: relative;
        width: 100%;
        top: 0;
    }
}

// landing features

.landing-features {
    margin: 0 auto 0;
}

.landing-features-bullets {
    transition: all 0.125s;
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    opacity: 0;
    &.-active {
        display: block;
        opacity: 1;
    }
    li {
        float: left;
        width: 33.3%;
        @media (max-width: $breakpoint-phablet) {
            float: none;
            width: 100%;
        }
    }
}

.landing-features-item {
    text-align: center;
    margin: 0 rem(18px);
    h2 {
        text-transform: uppercase;
        font-size: rem(20px);
        margin-bottom: rem(40px);
        @media (max-width: $breakpoint-phablet) {
            font-size: rem(16px);
            margin-bottom: rem(16px);
        }
    }
    p {
        @media (max-width: $breakpoint-phablet) {
            font-size: rem(12px);
            margin-bottom: rem(40px);
        }
    }
}

.landing-features-cta {
    text-align: center;
    margin-top: rem(75px);
    @media (max-width: $breakpoint-phablet) {
        margin-top: rem(10px);
    }
}

// landing integrate

.landing-integrate {
    text-align: center;
}

.landing-integrate-bullets {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    @media (max-width: $breakpoint-phablet) {
        width: 100%;
    }
    li {
        transition: all 0.125s;
        opacity: 0.7;
        float: left;
        height: rem(95px);
        background: url(../images/sprites/sprite-integrate.png) 0 0 no-repeat;
        &:hover {
            opacity: 1;
        }
        &.landing-bullet-clareity {
            width: rem(211px);
            @media (max-width: $breakpoint-phablet) {
                width: 50%;
                background-position: rem(-5px) rem(0px);
            }
        }
        &.landing-bullet-rapattoni {
            width: rem(249px);
            background-position: rem(-211px) rem(0px);
            @media (max-width: $breakpoint-phablet) {
                width: 50%;
                background-position: rem(-223px) rem(0px);
            }
        }
        &.landing-bullet-agentachieve {
            width: rem(283px);
            background-position: rem(-460px) rem(0px);
            @media (max-width: $breakpoint-phablet) {
                width: 50%;
                background-position: rem(-484px) rem(0px);
            }
        }
        &.landing-bullet-matterport {
            width: rem(252px);
            background-position: rem(-743px) rem(0px);
            @media (max-width: $breakpoint-phablet) {
                width: 50%;
            }
        }
        a {
            transition: all 0.125s;
            display: block;
            height: rem(95px);
            text-indent: -9999px;
        }
    }
}

// testimonials section
.landing-testimonials-container {
    position: relative;
    @media (max-width: $breakpoint-phablet) {
        width: 90%;
        height: rem(310px);
        margin: 0 auto;
    }
}

.landing-testimonials-card {
    @media (max-width: $breakpoint-phablet) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 70%;
        opacity: 0.5;
        background-color: $color-white;
    }
}

.landing-testimonials {
    list-style: none;
    margin: rem(120px) 0 0 0;
    padding: 0;
    @media (max-width: $breakpoint-phablet) {
        margin: rem(20px) 0 0 0;
    }
    li {
        cursor: pointer;
        transition: all 0.125s;
        float: left;
        width: 22%;
        margin: 0 1.5%;
        height: rem(284px);
        opacity: 0.5;
        background-color: $color-white;
        @media (max-width: $breakpoint-phablet) {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            display: none;
            width: 100%;
            margin: 0 auto;
            background-color: transparent;
        }
        &.-active, &:hover {
            opacity: 1;
            animation-name: feature-bounce;
            animation-duration: (0.25s * 1.5);
            @media (max-width: $breakpoint-phablet) {
                animation-name: none;
                display: block;
            }
        }
        h3 {
            letter-spacing: rem(1px);
            text-transform: uppercase;
            font-size: rem(18px);
            margin: rem(5px) 0 0 0;
        }
        p {
            font-size: rem(14px);
            margin: rem(5px) 0;
            min-height: rem(30px);
        }
    }
    .landing-testimonial {
        position: relative;
        top: 50%;
        cursor: pointer;
        transform: translateY(-50%);
        color: $color-grey;
        padding: 0 rem(15px);
        @media (max-width: $breakpoint-phablet) {
            width: 75%;
            margin: 0 auto;
            background-color: $color-white;
            padding: rem(40px) rem(10px);
        }
    }
}

.landing-testimonial-text {
    display: none;
    height: rem(50px);
    font-size: rem(22px);
    padding-top: rem(28px);
    @media (max-width: $breakpoint-phablet) {
        font-size: rem(15px);
        line-height: 1.3;
        height: auto;
        padding-top: rem(5px);
    }
    &.-active {
        display: block;
    }
}



