// main layout styles

body {
    font-family: 'Open Sans',serif;
    color: $color-grey;
    font-size: rem(16px);
}

.wrap-container {
    width: 100%;
}

.section-hero {
    height: rem(722px);
    background: url(../images/backgrounds/bg-hero.jpg) 50% 50% no-repeat;
    background-size: cover;
    // background-attachment: fixed;
}

.section-features {
    background: url(../images/backgrounds/bg-features.jpg) 50% 50% no-repeat;
    background-size: cover;
    color: $color-white;
}

.section-testimonials {
    background: url(../images/backgrounds/bg-testimonials.jpg) 50% 50% no-repeat;
    background-size: cover;
    color: $color-white;
}

.section-hero-wrap {
    position: relative;
    max-width: rem(1200px);
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    padding-top: rem(20px);
}

.section-wrap {
    max-width: rem(1400px);
    text-align: center;
    padding: rem(100px) 0;
    margin: 0 auto;
}

.section-header {
    font-size: rem(30px);
    text-transform: uppercase;
    margin-bottom: rem(45px);
}

.section-subtitle {
    max-width: rem(778px);
    margin: 0 auto;
    line-height: 1.6;
    &.large-subtitle {
        max-width: rem(1100px);
        font-size: rem(22px);
    }
}

.section-bumper {
    text-align: center;
    margin-top: rem(15px);
    display: block;
    font-weight: 600;
}

.landing-header {
    position: absolute;
    top: 0;
    width: 100%;
}

.landing-hero-title {
    color: $color-white;
    font-size: rem(36px);
    letter-spacing: 2px;
}

.landing-hero-subtitle {
    color: $color-white;
    margin: rem(5px) 0 rem(70px) 0;
    font-size: rem(22px);
    letter-spacing: 1px;
}

// what we do section

.landing-whatwedo {
    max-width: rem(1100px);
    margin: rem(90px) auto 0;
}

.landing-whatwedo-bullets {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        float: left;
        width: 25%;
    }
}

.landing-whatwedo-item {
    text-align: center;
    margin: 0 rem(18px);
    h2 {
        text-transform: uppercase;
        font-size: rem(20px);
    }
    a {
        transition: color 0.125s;
        text-transform: uppercase;
        color: $color-teal;
        text-decoration: none;
        &:hover {
            color: $color-deep-purple;
        }
    }
    img {
        margin-bottom: rem(10px);
    }
}

// features nav

.landing-features-nav-container {
    text-align: center;
}
.landing-features-nav {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    li {
        transition: all 0.125s;
        float: left;
        border: 3px solid $color-white;
        border-left: none;
        &:first-child {
            border-left: 3px solid $color-white;
            border-radius: rem(25px) 0 0 rem(25px);
        }
        &:last-child {
            border-radius: 0 rem(25px) rem(25px) 0;
        }
        &:hover, &.-active {
            background-color: $color-white;
            color: $color-deep-purple;
            a {
                color: $color-deep-purple;
            }
        }
        a {
            letter-spacing: rem(1px);
            transition: all 0.125s;
            color: $color-white;
            text-decoration: none;
            display: block;
            padding: rem(12px) rem(35px);
        }
    }
}

// features screenshot

.landing-features-screenshot {
    max-width: rem(836px);
    max-height: rem(614px);
    margin: 0 auto;
    img {
        transition: opacity 0.15s, top 0.250s;
        position: relative;
        opacity: 0;
        top: rem(80px);
        &.-active {
            opacity: 1;
            top: 0;
        }
    }
}

// landing features

.landing-features {
    margin: 0 auto 0;
}

.landing-features-bullets {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        float: left;
        width: 33.3%;
    }
}

.landing-features-item {
    text-align: center;
    margin: 0 rem(18px);
    h2 {
        text-transform: uppercase;
        font-size: rem(20px);
        margin-bottom: rem(40px);
    }
}

.landing-features-cta {
    text-align: center;
    margin-top: rem(75px);
}

// landing integrate

.landing-integrate {
    text-align: center;
}

.landing-integrate-bullets {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        transition: all 0.125s;
        opacity: 0.7;
        float: left;
        height: rem(95px);
        background: url(../images/sprites/sprite-integrate.png) 0 0 no-repeat;
        &:hover {
            opacity: 1;
        }
        &.landing-bullet-clareity {
            width: rem(211px);
        }
        &.landing-bullet-rapattoni {
            width: rem(249px);
            background-position: rem(-211px) rem(0px);
        }
        &.landing-bullet-agentachieve {
            width: rem(283px);
            background-position: rem(-460px) rem(0px);
        }
        &.landing-bullet-matterport {
            width: rem(252px);
            background-position: rem(-743px) rem(0px);
        }
        a {
            transition: all 0.125s;
            display: block;
            height: rem(95px);
            text-indent: -9999px;
        }
    }
}

// testimonials section

.landing-testimonials {
    list-style: none;
    margin: rem(120px) 0 0 0;
    padding: 0;
    li {
        cursor: pointer;
        transition: all 0.125s;
        background-color: $color-white; 
        float: left;
        width: 20%;
        margin: 0 2.5%;
        height: rem(284px);
        opacity: 0.5;
        &.-active, &:hover {
            opacity: 1;
        }
        h3 {
            letter-spacing: rem(1px);
            text-transform: uppercase;
            font-size: rem(18px);
            margin: rem(5px) 0 0 0;
        }
        p {
            font-size: rem(14px);
            margin: rem(5px) 0;
            min-height: rem(30px);
        }
    }
    .landing-testimonial {
        position: relative;
        top: 50%;
        cursor: pointer;
        transform: translateY(-50%);
        color: $color-grey;
        padding: 0 rem(15px);
    }
}

.landing-testimonial-text {
    display: none;
    height: rem(50px);
    font-size: rem(22px);
    padding-top: rem(28px);
    &.-active {
        display: block;
    }
}



