// global functions
@function rem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

// Breakpoints
$breakpoint-phone: 490px;
$breakpoint-tablet: 778px;
$breakpoint-phablet: 640px;
$breakpoint-nav: 765px;
$breakpoint-air: 992px;
$breakpoint-big-tablet: 1080px;

// pallete
$color-deep-purple: #181929;
$color-teal: #1fbad6;
$color-white: #eaebef;
$color-blue-grey: #181e23;
$color-blue-grey-dark: #2b363f;
$color-blue-grey-dark2: #323d47;
$color-blue-grey-light: #7b8998;
$color-grey-dark: #262626;
$color-grey: #464646;
$color-grey-light: #909090;
$color-feature-border: #ededed;
$color-pricing-card-one: #868994;
$color-pricing-card-two: #596575;
$color-pricing-card-three: #3c4e61;
$color-pricing-card-four: #283141;
$color-pricing-section: #eff0f4;
$color-pricing-management-tools: #707f93;


// cards
$color-card-one: #a8acb9;
$color-card-two: #707f93;
$color-card-three: #4d637b;
$color-card-four: #323e52;

// text settings
$text-shadow-default: rem(0px) rem(2px) rem(4px) rgba(0, 0, 0, 0.5);